/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  
@font-face {
    font-family: "odinLogo";
    src: url(./assests/Norse-Bold.otf) format('opentype');
}

.content{
    height: 100vh;
    width: 100vw;
}

.content,
.logo{
    display: flex;
    flex-flow: row wrap;
}


/* left-side */

.logo{
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

.odin-logo{
    width: 10vh;
}

.picture{
    background-image: url(./assests/sign-up-bg.jpg);
    width: 40vw;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

h1{
    color: white;
    font-family: odinLogo;
    font-size: 10vh;
}

/* right-side */
.right{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left{
    padding-left: 3vw;
}

.dummy-text{
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
}

.remote-text{
    margin: 40px 0 80px;
}

/* form */
.form{
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
}

button{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(155, 34, 34);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid rgb(155, 34, 34);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}

.log-in{
    display: flex;
    gap: 5px;
}

a{
    text-decoration: none;
    color: rgb(155, 34, 34);
    font-weight: 700;
}

.form-title{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

button:hover{
    background-color:  rgb(155, 34, 34);
    color: black;
    
}